body{
    font-family: 'Century Gothic', Calibri, serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}
.presentation img{
    border-radius: 100%;
}
h1{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}
.leftexp{
    width: 45%;
    float: left;
}
.rightexp{
    width: 50%;
    float: left;
    margin-left: 5%;
}
.leftexp img{
    width: 100%;
    max-width: 400px;
}
.vert{
    border-top: 5px solid #5f6;
    background-color: rgba(70, 240, 80, 0.15);
}
.bleu{
    border-top: 5px solid #29c;
    background-color: rgba(30, 152, 212, 0.15);
}
.jaune{
    border-top: 5px solid #f3e241;
    background-color: rgba(240, 255, 69, 0.15);
}
.rouge{
    border-top: 5px solid #e44d26;
    background-color: rgba(228, 77, 38, 0.15);
}

header{
    height: 100px;
}
footer{
    height: 80px;
    padding-top: 30px;
    text-align: center;
    background-color: #c5c5c5;
    border-top: 2px solid #aaa;
    font-size: 15px;
}
nav{
    width: 100%;
    background-color: #424558;
}
nav ul {
    margin: 0px;
    padding: 0px;
}
nav li {
    list-style-type: none;
    float: left;
}
nav a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}
.table {
    display: table;
    margin: 0 auto;
}
.accueil:hover, .presentation{
    border-top: 5px solid #4c8;
    background-color: rgba(65, 200, 130, 0.15);
}
.exp:hover, .parcours {
    border-top: 5px solid #f1dc4f;
    background-color: rgba(241, 211, 79, 0.15);
}
.pass:hover, .competence{
    border-top: 5px solid #0070bb;
    background-color: rgba(000, 112, 192, 0.15);
}
.cont:hover, .recommandation {
    border-top: 5px solid #e44d26;
    background-color: rgba(228, 77, 38, 0.15);
}
nav li:hover a{
padding: 15px 30px 20px 30px;
}

section{
    width: 100%;
    min-width: 300px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.sec{
    margin: 0px 10%;
}
.left{
    float: left;
    width: 30%;
}
.right{
    float: left;
    width: 70%;
    font-size: 15px;
}
.cleft, .sousleft, .sousright{
    width: 50%;
    float: left;
    
}
.sec::after, .exp::after, .reco::after{
    content: "";
    display: table;
    clear: both;
}
img{
    width: 30%;
    height: 30%;
}




/*responsive*/
@media screen and (max-width: 780px){
    header{
        height: 50px;
    }
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    nav li:hover a{
        padding: 5px 10px 10px 10px;
    }
}

